.bass-fret-line {
  display: flex;
  flex-direction: row;
}
.bass-fret {
  -webkit-user-select: none;
  border-radius: 1px;
  border-color: #222;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: black;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  line-height: 1;
  width: 50px;
  height: 32px;
  background-color: burlywood;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
