@import url(bigegi84.common.css);
@import url(bigegi84.theme.black.gold.css);
/* app */
@import url(../app/bass/bass.css);
@import url(../app/piano/piano.css);
@import url(../app/ukulele/ukulele.css);
@import url(../app/drum/drum/drum.css);
@import url(../app/guitar/guitar.css);

/* input[type="checkbox"]:checked + .checkbox-white::before {
  border-color: white;
}
input[type="checkbox"] + .checkbox-white::before {
  border-color: white;
} */
/* 
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  content: none;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: none;
} */
